@charset "utf-8";
/* CSS Document */

.s_advertising_16 {background-image: url(../image/icons/farm-fresh/16x16/advertising.png);}
.s_basket_16 {background-image: url(../image/icons/farm-fresh/16x16/basket.png);}
.s_box_16 {background-image: url(../image/icons/farm-fresh/16x16/box.png);}
.s_cart_16 {background-image: url(../image/icons/farm-fresh/16x16/cart.png);}
.s_color_wheel_16 {background-image: url(../image/icons/farm-fresh/16x16/color_wheel.png);}
.s_contact_email_16 {background-image: url(../image/icons/farm-fresh/16x16/contact_email.png);}
.s_cross_16 {background-image: url(../image/icons/farm-fresh/16x16/cross.png);}
.s_css_16 {background-image: url(../image/icons/farm-fresh/16x16/css.png);}
.s_database_add_16 {background-image: url(../image/icons/farm-fresh/16x16/database_add.png);}
.s_images_16 {background-image: url(../image/icons/farm-fresh/16x16/images.png);}
.s_layout_16 {background-image: url(../image/icons/farm-fresh/16x16/layout.png);}
.s_layout_footer_16 {background-image: url(../image/icons/farm-fresh/16x16/layout_footer.png);}
.s_page_white_edit_16 {background-image: url(../image/icons/farm-fresh/16x16/page_white_edit.png);}
.s_palette_16 {background-image: url(../image/icons/farm-fresh/16x16/palette.png);}
.s_paypal_16 {background-image: url(../image/icons/farm-fresh/16x16/paypal.png);}
.s_phone_16 {background-image: url(../image/icons/farm-fresh/16x16/phone.png);}
.s_picture_16 {background-image: url(../image/icons/farm-fresh/16x16/picture.png);}
.s_pictures_16 {background-image: url(../image/icons/farm-fresh/16x16/pictures.png);}
.s_plugin_16 {background-image: url(../image/icons/farm-fresh/16x16/plugin.png);}
.s_style_16 {background-image: url(../image/icons/farm-fresh/16x16/style.png);}
.s_tick_16 {background-image: url(../image/icons/farm-fresh/16x16/tick.png);}
.s_wrench_orange_16 {background-image: url(../image/icons/farm-fresh/16x16/wrench_orange.png);}

.s_accept_32 {background-image: url(../image/icons/farm-fresh/32x32/accept.png);}
.s_error_32 {background-image: url(../image/icons/farm-fresh/32x32/error.png);}
.s_cancel_32 {background-image: url(../image/icons/farm-fresh/32x32/cancel.png);}