/*****************************************************/
/******   R E S E T   ********************************/
/*****************************************************/
.tb_cp *, .tb_cp td, .tb_cp th, .tb_cp input, .tb_cp textarea, .tb_cp select, .tb_cp button {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: 100%;
}
.tb_cp img {
  line-height: 0;
  font-size: 0;
  -ms-interpolation-mode: bicubic;
}
.tb_cp img,
.tb_cp a img {
  border: 0;
}
a:active,
a:hover,
a:focus,
a:visited,
label,
label:active,
label:hover,
label:focus
{
  outline: none !important;
}
input:focus,
textarea:focus
{
  outline: none;
}

/*** Clearfix ***/
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
*:first-child+html .clearfix {
  zoom: 1;
}

/******************************************/
/*****   T Y P O G R A P H Y   ************/
/******************************************

The line-height of all elements, should be no less
than their font-size * 1.5

*/

.tb_cp {
  font: 13px/20px "Lucida Sans Unicode", "Lucida Grande", sans-serif; /*** base font-size and line-height ***/
}
.tb_cp a {
  text-decoration: none;
}
h2 {
  margin-bottom: 30px !important;
}
h3 {
  margin-bottom: 20px !important;
  font-size: 16px !important;
  font-weight: 800 !important;
  font-family: "PT Sans", sans-serif !important;
}
.tb_cp p,
.tb_cp li
{
  margin-bottom: 20px;
}
.tb_cp ul {
  list-style: none;
}


#tb_cp {font-size: 13px; color: #333;}
#tb_cp :-moz-any-link:active, #tb_cp a:active, #tb_cp a:focus, #tb_cp input, #tb_cp textarea, #tb_cp button {outline:none;}
#tb_cp ul {list-style: none;}
#tb_cp img {display: block; padding: 0 !important; border: none !important;}
#tb_cp a img {border: none;}
#tb_cp button, #tb_cp a {cursor: pointer;}

.s_small {font-size: 10px;}
.inline {display: inline !important;}
.align_left {text-align: left !important;}
.align_right {text-align: right !important;}
.align_center {text-align: center !important;}
.valign_top {vertical-align: top !important;}
.valign_middle {vertical-align: middle !important;}
.uppercase {text-transform: uppercase !important;}
.left {float: left !important;}
.clear {clear: both !important;}
.right {float: right !important;}
.nofloat {float: none !important;}
.block {display: block !important;}
.none, .ui-tabs-hide, .s_hidden {display: none !important;}
.border_eee {border-bottom: 1px solid #eee;}
.border_ddd {border-bottom: 1px solid #ddd;}
.border_ccc {border-bottom: 1px solid #ccc;}

.s_f_9 {font-size: 9px;}
.s_f_10 {font-size: 10px !important;}
.s_f_11 {font-size: 11px !important;}
.s_f_12 {font-size: 12px !important; line-height: 16px;}
.s_f_13 {font-size: 13px !important; line-height: 16px;}
.s_f_14 {font-size: 14px !important; line-height: 18px;}
.s_f_16 {font-size: 16px;}
.s_f_18 {font-size: 18px;}
.s_f_20 {font-size: 20px;}
.s_f_22 {font-size: 22px;}
.s_f_24 {font-size: 24px !important;}
.s_f_26 {font-size: 26px;}
.s_f_28 {font-size: 28px;}
.s_f_30 {font-size: 30px;}
.s_f_32 {font-size: 32px;}

.s_mb_0 {margin-bottom: 0 !important;}
.s_mb_5 {margin-bottom: 5px !important;}
.s_mb_10 {margin-bottom: 10px !important;}
.s_mb_15 {margin-bottom: 15px !important;}
.s_mb_20 {margin-bottom: 20px !important;}
.s_mb_25 {margin-bottom: 25px !important;}
.s_mb_30 {margin-bottom: 30px !important;}
.s_mt_5 {margin-top: 5px !important;}
.s_ml_0 {margin-left: 0 !important;}
.s_ml_10 {margin-left: 10px !important;}
.s_ml_15 {margin-left: 15px !important;}
.s_ml_20 {margin-left: 20px !important;}
.s_ml_25 {margin-left: 25px !important;}
.s_ml_30 {margin-left: 30px !important;}
.s_mr_0 {margin-right: 0 !important;}
.s_mr_5 {margin-right: 5px !important;}

.s_p_5_0 {padding: 5px 0 !important;}
.s_p_5_10 {padding: 5px 10px !important;}
.s_p_5_15 {padding: 5px 15px;}
.s_p_5_20 {padding: 5px 20px;}
.s_p_10_15 {padding: 10px 15px;}
.s_p_10_20 {padding: 10px 20px;}
.s_p_10_5 {padding: 10px 5px;}
.s_p_10_0 {padding: 10px 0 !important;}
.s_p_15_0 {padding: 15px 0;}
.s_p_15_5 {padding: 15px 5px;}
.s_p_15_10 {padding: 15px 10px;}
.s_p_15_20 {padding: 15px 20px;}
.s_p_20_0 {padding: 20px 0;}
.s_p_20_10 {padding: 20px 10;}
.s_p_20_15 {padding: 20px 15px;}
.s_pt_5 {padding-top: 5px}
.s_pt_10 {padding-top: 10px}
.s_pt_15 {padding-top: 15px}

span.clear {
  visibility: visible;
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
}

.s_999 { color: #999; }
.s_666 { color: #666; }
.s_333 { color: #333; }

.s_eee_bgr { background-color: #eee; }
.s_ddd_bgr { background-color: #ddd; }
.s_ccc_bgr { background-color: #ccc; }
.s_bbb_bgr { background-color: #bbb; }

.s_h_80 {height: 80px;}
.s_h_90 {height: 90px;}
.s_h_100 {height: 100px;}
.s_h_150 {height: 150px;}

.tb_1_1 { width:100%; }
.tb_1_2 { width:50%; }
.tb_1_3 { width:33.33333%; }
.tb_2_3 { width:66.66666%; }
.tb_1_4 { width:25%; }
.tb_3_4 { width:75%; }
.tb_1_5 { width:20%; }
.tb_2_5 { width:40%; }
.tb_3_5 { width:60%; }
.tb_4_5 { width:80%; }
.tb_1_6 { width:16.656%; }
.tb_5_6 { width:83.33%; }
.tb_1_8 { width:12.5%; }
.tb_3_8 { width:37.5%; }
.tb_5_8 { width:62.5%; }
.tb_7_8 { width:87.5%; }
.tb_1_12 { width:8.3333%; }
.tb_5_12 { width:41.6666%; }
.tb_7_12 { width:58.3333%; }
.tb_11_12 { width:91.6666%; }
.tb_1_24 { width:4.1666%; }
.tb_5_24 { width:20.8333%; }
.tb_7_24 { width:29.1666%; }
.tb_11_24 { width:45.8333%; }
.tb_13_24 { width:54.1666%; }
.tb_17_24 { width:70.8333%; }
.tb_19_24 { width:79.1666%; }
.tb_23_24 { width:95.8333%; }

.tb_col {
  float: left;
  margin-left: 20px !important;
  margin-right: 0 !important;
}
.tb_2col_wrap,
.tb_3col_wrap,
.tb_4col_wrap,
.tb_5col_wrap
{
  padding-right: 0 !important;
}
.tb_2col_wrap { padding-left: 20px !important; }
.tb_3col_wrap { padding-left: 40px !important; }
.tb_4col_wrap { padding-left: 60px !important; }
.tb_5col_wrap { padding-left: 80px !important; }
.tb_2col_wrap > :nth-child(2n+1) { position: relative; margin-left: -20px; }
.tb_3col_wrap > :nth-child(3n+1) { position: relative; margin-left: -40px; }
.tb_4col_wrap > :nth-child(4n+1) { position: relative; margin-left: -60px; }
.tb_5col_wrap > :nth-child(5n+1) { position: relative; margin-left: -80px; }
.tb_2col_wrap > :first-child { margin-left: -20px !important; }
.tb_3col_wrap > :first-child { margin-left: -40px !important; }
.tb_4col_wrap > :first-child { margin-left: -60px !important; }
.tb_5col_wrap > :first-child { margin-left: -80px !important; }


.s_icon_10,
.s_icon_16,
.s_icon_32
{
  position: relative;
  background-repeat: no-repeat;
  background-position: center left;
}
.s_icon_10 {padding-left: 15px !important;}
.s_icon_16 {padding-left: 25px !important;}
.s_icon_32 {padding-left: 45px !important;}
.s_icon_10 > .s_icon,
.s_icon_16 > .s_icon,
.s_icon_32 > .s_icon
{
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.s_icon_10 > .s_icon {
  width: 10px;
  height: 10px;
  margin-top: -5px !important;
}
.s_icon_16 > .s_icon {
  width: 16px;
  height: 16px;
  margin-top: -8px !important;
}
.s_icon_32 > .s_icon {
  width: 32px;
  height: 32px;
  margin-top: -16px !important;
}

.tb_facebook_16 {
  background-image: url(../image/icons/16x16/facebook.png);
}
.tb_twitter_16 {
  background-image: url(../image/icons/16x16/twitter.png);
}

.tb_notify {
  position: relative;
  padding-right: 26px !important;
}
.tb_notify .tb_msg {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-align: center;
  line-height: 14px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: red;
  border-radius: 3px;
}
.tb_msg_red {
  background-position: 0 0;
}



/***  F O R M S  ***/
input[type=hidden] {
  display: none;
}
input[type=text],
input[type=password],
textarea,
select
{
  display: block;
  color: #333;
  background: #eee;
  border: 1px solid #ddd;
  border-color: #c0c0c0 #e6e6e6 #e6e6e6 #c0c0c0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
}
input[type=text],
input[type=password]
{
  height: 26px;
  margin-top: 1px;
  padding: 0 3px !important;
}
select {
  padding: 3px !important;
  height: 26px !important;
}
textarea {
  overflow-x: hidden;
  padding: 3px !important;
}
input[type=checkbox],
input[type=radio]
{
  vertical-align: middle;
}
input[type=text].s_color {
  float: left;
  width: 60px !important;
  margin-right: 5px;
}
.colorSelector {
  float: left;
  margin-bottom: -1px;
}


.s_button {
  height: 38px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 15px;
  line-height: 38px;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  text-decoration: none !important;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 800;
  font-size: 16px;
  color: #333;
  background: url(../image/button_1.png) no-repeat 0 -1px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-bottom-color: rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.05);
}
.s_button:hover {
  background: url(../image/button_1.png) no-repeat 0 -41px;
  border: 1px solid rgba(0, 0, 0, 0.31);
  border-bottom-color: rgba(0, 0, 0, 0.34);
}
.s_button:visited {
  color: #333;
}
.s_button_green {
  padding-left: 15px;
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-color: #5e8c22 !important;
  border-bottom-color: #50771d !important;
  background: url(../image/button_1.png) no-repeat 0 -81px;
}
.s_button_green:hover {
  color: #fff !important;
  background: url(../image/button_1.png) no-repeat 0 -121px;
}
.s_button_red {
  padding-left: 15px;
  color: #fff !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-color: #bf1d00 !important;
  border-bottom-color: #9f1800 !important;
  background: url(../image/button_1.png) no-repeat 0 -161px;
}
.s_button_red:hover {
  color: #fff !important;
  background: url(../image/button_1.png) no-repeat 0 -201px;
}
.s_button_2 {
  height: 28px;
  line-height: 28px;
  text-transform: uppercase;
  font-size: 14px;
}
.s_button .s_icon_16 {
  padding-left: 40px !important;
}



.s_button {display: inline-block;}
button::-moz-focus-inner {border: 0;}
button {padding-bottom: 2px;}
button:focus,
.s_button:focus
{
}
button:disabled,
.s_button.disabled
{
  color: #aaa;
}
button:disabled:hover,
.s_button.disabled:hover
{
  cursor: default;
}


.s_button_1 {
  cursor: pointer;
  display: block;
  float: right;
  margin-left: 10px;
  padding: 3px;
}
.s_button_1 .s_text {
  position: relative;
  display: block;
  height: 28px;
  padding: 0 10px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 16px;
  font-family: "Ubuntu Regular", sans-serif;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.s_button_1:hover .s_text {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.s_button_1.s_ddd_bgr .s_text {
  color: #666;
}
.s_button_1.s_ddd_bgr:hover .s_text {
  color: #333;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.s_button_1.left {
  margin-left: 0;
  margin-right: 10px;
}
.s_button_1.s_ddd_bgr .s_text {
  color: #666;
}
.s_button_1.s_ddd_bgr:hover .s_text {
  color: #333;
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
}
.s_button_1.left {
  margin-left: 0;
  margin-right: 10px;
}

.s_button_close,
.tb_button_edit,
.tb_button_added,
.tb_button_add,
.tb_button_remove,
.tb_button_search
{
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -1000em;
  background-image: url(../image/button_icon.png);
  background-repeat: no-repeat;
}
.s_button_close { background-position: 0 0; }
.s_button_close:hover { background-position: -120px 0; }
.s_button_close:active { background-position: -150px 0; }
.tb_button_edit { background-position: 0 -30px; }
.tb_button_edit:hover { background-position: -120px -30px; }
.tb_button_edit:active { background-position: -120px -30px; }
.tb_button_remove { background-position: 0 -60px; }
.tb_button_added { background-position: 0 -90px; }
.tb_button_add { background-position: 0 -120px; }
.tb_button_add:hover { background-position: -120px -120px; }
.tb_button_search { background-position: 0 -150px; }
.tb_button_search:hover { background-position: -60px -150px; }


.s_button_close_small
{
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -1000em;
  background-image: url(../image/button_icon_16.png);
  background-repeat: no-repeat;
}
.s_button_close_small { background-position: 0 0; }
.s_button_close_small:hover { background-position: -20px 0; }


button .s_icon_16 {
  margin-left: -5px;
  padding-left: 40px !important;
}


input[type=text]:hover,
input[type=password]:hover,
textarea:hover,
select:hover
{
  border-color: #999 #ddd #ddd #aaa;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus
{
  border-color: #999 #ddd #ddd #aaa;
}

input[type=text].inline,
input[type=password].inline,
textarea.inline,
select.inline,
.s_full input[type=text].inline,
.s_full input[type=password].inline,
.s_full select.inline,
.s_full .selector.inline
{
  float: none !important;
	width: auto !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

label {
  display: block;
  max-width: 100%;
}
label * {
  letter-spacing: 0;
}
label img.inline {
	vertical-align: middle;
	margin-top: -2px;
}
label.s_disabled, label.s_disabled * {
  color: #9ea7ad !important;
}
label .red {
  vertical-align: top;
  font-size: 11px;
}
label .s_legend {
  margin: 0 !important;
  padding-top: 0;
  line-height: 11px;
}
.s_full {
  padding: 0 4px;
}
.s_full input[type=text],
.s_full input[type=password],
.s_full textarea,
.s_full select,
.s_full .selector,
.s_full .ui-multiselect
{
  width: 100% !important;
  margin-left: -4px !important;
  margin-right: -4px !important;
}
.s_full .s_full .selector,
.s_full .s_full .ui-multiselect
{
  margin-left: -5px !important;
}
.s_full .s_full .ui-multiselect {
}
.selector select {
  width: 99% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.ibutton-container {
  margin: 2px 0 0 0;
}
.s_metric {
  line-height: 30px;
  font-size: 18px;
}

.s_row_1 {
  padding: 0 0 15px 0 !important;
}
.s_row_1 input[type=text],
.s_row_1 input[type=password],
.s_row_1 textarea,
.s_row_1 select
{
  float: left;
}
.s_row_1 .s_full,
.s_row_1 .s_legend,
.s_row_1 .s_scroll
{
  margin-left: 0 !important;
}
.s_row_1 .s_full .s_legend {
  margin-left: 0;
}
.s_full .s_row_1 {
  margin-left: -4px;
  margin-right: -4px;
  padding-bottom: 0 !important;
}
.s_full .s_row_1 label {
  margin-left: 0 !important;
}

.s_row_2 {
  clear: both;
  padding: 15px 0;
  border-top: 1px solid #eee;
}
.s_row_2.first {
  border-top-color: #fff !important;
  padding-top: 0 !important;
}
.s_row_2.last,
.s_row_2:last-child
{
  margin-bottom: 10px;
}
.s_row_2 label {
  float: left;
  width: 150px;
  padding: 5px 0;
}
.s_row_2 > label,
.s_row_3 > label
{
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
.s_row_2 label.left {
  width: 207px;
  margin: 0;
}
.s_row_2 label.left.s_checkbox,
.s_row_2 label.left.s_radio
{
  width: auto;
  margin: 0 15px 0 0;
}
.s_row_2 input[type=text],
.s_row_2 input[type=password]
{
  width: 225px;
}
.s_row_2 select {
  width: 200px;
}
.s_row_2 .s_help {
  margin: 10px 0 0 150px;
}
.s_row_2 .s_full {
  margin-left: 150px;
}
.s_row_2 .s_full label {
  margin-left: -4px;
  white-space: nowrap;
}

.s_row_3 {
  position: relative;
  margin-bottom: 20px;
}
.s_row_3 label {
  display: block;
  margin-bottom: 5px;
  padding-top: 0;
}
.s_row_3 input[type=text],
.s_row_3 input[type=password],
.s_row_3 textarea,
.s_row_3 select,
.s_row_3 .uploader
{
  float: left;
  clear: left;
}
.s_row_3 .s_icon_16 {
  position: absolute;
  left: 8px;
  width: 16px;
  height: 16px;
  margin: 9px 0 0 0;
  padding: 0 !important;
}
.s_row_3 .s_icon_16 + input[type=text],
.s_row_3 .s_icon_16 + textarea,
.s_row_3 .s_icon_16 + input[type=text]:focus,
.s_row_3 .s_icon_16 + textarea:focus
{
  text-indent: 25px !important;
}

.s_row_4 {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.s_row_4 label {
  display: block;
  float: left;
  padding-top: 0;
}
.s_row_4 input[type=text],
.s_row_4 input[type=password],
.s_row_4 textarea,
.s_row_4 select,
.s_row_4 .uploader
{
  float: left;
  clear: left;
}
.s_row_4 > .uploader {
  position: relative;
  left: -2px;
}


label.s_checkbox,
label.s_radio
{
  width: auto;
  margin-right: 15px;
  padding: 5px 0;
  text-align: left;
  letter-spacing: 0;
  white-space: nowrap;
  color: #333;
  font-size: 13px;
  font-weight: normal;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}

.s_error_row input[type=text],
.s_error_row input[type=password],
.s_error_row textarea,
.s_error_row select
{
  color: #84290a;
  background-color: #ffe7df !important;
  border-color: #ffcdbc #ffe7df #ffe7df #ffcdbc !important;
}
.s_row_4.s_error_row:hover {
  background: none;
}
.s_error_msg {
  height: 18px;
  padding: 0 5px 0 0;
  line-height: 18px;
  font-size: 11px;
  color: red;
}
.s_error_msg {
  float: left;
  margin: 3px 0 0 10px;
}
.s_full .s_error_msg {
  margin: 10px 0 0 0;
}
.s_help {
  line-height: 14px;
  font-size: 11px;
  color: #999;
}
.s_submit {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ebeceb url(../image/submit.png) repeat-x top left;
  border-top: 1px solid #e3e3e3;
  border-radius: 0 0 3px 0;
}
.s_submit .s_button {
  float: right;
  margin: 0 0 0 20px;
}
.s_submit .s_button:first-child {
  margin-right: 20px;
}
.s_submit p {
  margin: 0 20px;
}
.s_submit .s_button_2 + p {
  margin-top: 7px;
  text-align: right;
}
.s_submit p a {
  text-decoration: none;
  color: #ff6100;
}
.s_submit p a:hover {
  color: #333;
}
.ui-dialog-content .s_submit {
  width: 100%;
  padding: 20px 0;
  border-radius: 0 0 3px 3px;
}
.ui-dialog-content .s_submit .s_button.left:first-child {
  margin-left: 20px;
}


.s_server_msg {
	position: relative;
	width: 940px;
  min-height: 48px;
  margin-bottom: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow:
    inset 0 1px 0 #fff,
    0 1px 2px rgba(0, 0, 0, 0.1);
}
.s_server_msg p {
  min-height: 18px;
  margin: 0 15px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.s_msg_green {
  background: #e5fad5 url(../image/msg_green.png) repeat-x top left;
  border: 1px solid #afcc99;
}
.s_msg_red {
  background: #ffe7d9 url(../image/msg_red.png) repeat-x top left;
  border: 1px solid #e5b090;
}
.s_msg_yellow {
  background: #fcf9d8 url(../image/msg_yellow.png) repeat-x top left;
  border: 1px solid #d0c691;
}
.s_close {
	position: absolute;
	right: 15px;
	top: 50%;
	display: block;
	width: 26px;
	height: 26px;
	margin-top: -13px;
	background: url(../image/close_msg.png) no-repeat center right;
}
.s_close:hover {
	background-position: center left;
}


/*** tabs ***/

.tb_tabs_nav li,
.tb_tabs_nav li a
{
  display: block;
  float: left;
  margin: 0;
}
.tb_htabs .tb_tabs_nav a {
  text-align: center;
}
.tb_vtabs .tb_tabs_nav a {
}
.tb_top_tabs .tb_tabs_nav {
  position: relative;
  margin: -30px -30px 30px -30px;
}
.tb_top_tabs .tb_tabs_nav {
  background: #f0f0f0 url(../image/top_tabs.png) repeat-x top left;
  border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -webkit-border-radius: 0 4px 0 0;
  border-bottom: 1px solid #c6c6c6;
  box-shadow:
    inset 0 1px 0 #fff,
    inset 0 -1px 3px rgba(0, 0, 0, 0.03);
}
.tb_top_tabs .tb_tabs_nav li,
.tb_top_tabs .tb_tabs_nav li a
{
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  font-weight: 800;
  font-family: "PT Sans Narrow", sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
}
.tb_top_tabs .tb_tabs_nav li {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.tb_top_tabs .tb_tabs_nav li a {
  padding: 0 20px;
}
.tb_top_tabs .tb_tabs_nav li a:hover {
  background: rgba(0, 0, 0, 0.03);
}
.tb_top_tabs .tb_tabs_nav li.ui-tabs-selected {
  border-right: 1px solid #c6c6c6;
}
.tb_top_tabs .tb_tabs_nav li.ui-tabs-selected a {
  position: relative;
  height: 45px;
  margin-bottom: -1px;
  background: #fff;
}

.divtab {
  clear: both;
}


.s_languages {
  padding: 0 0 0 60px;
}
.s_lang {
  float: left;
  width: 21%;
  margin: 0 0 0 20px !important;
}
.s_lang select {
  width: 99%;
}
.s_lang:first-child { margin-left: -62px !important; clear: none !important; }
.s_lang:nth-child(4n+1) { margin-left: -62px !important; clear: left; }

.s_font_preview {
  position: relative;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  border: 1px solid #fff;
  border-width: 5px 30px 5px 5px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow:
    0 0 1px rgba(0, 0, 0, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow:
    0 0 1px rgba(0, 0, 0, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow:
    0 0 1px rgba(0, 0, 0, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.07);
  -o-box-shadow:
    0 0 1px rgba(0, 0, 0, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.07);
}
.s_font_preview p {
  margin: 0;
  padding: 15px;
  background: #fffae0;
}
.s_font_preview .s_button_close_small {
  position: absolute;
  top: 0;
  right: -25px;
}

/*** gallery ***/

.tb_thumb {
  position: relative;
  display: block;
  float: left;
  width: 140px;
  height: 140px;
  padding: 9px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.tb_thumb img {
  display: block;
}
.tb_thumb .tb_settings,
.tb_thumb .tb_actions
{
  position: absolute;
  display: none;
}
.tb_thumb .tb_actions {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 9px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}
.tb_thumb .tb_actions > * {
  float: right;
  margin-left: 5px;
}
.tb_gallery {
  margin-right: -20px;
}
.tb_gallery .tb_thumb {
  margin: 0 20px 20px 0;
  text-align: center;
  cursor: move;
}
.tb_gallery .tb_thumb .tb_thumb_image {
  display: table;
}
.tb_gallery .tb_thumb .tb_thumb_image div {
  display: table-cell;
  vertical-align: middle;
}
.tb_gallery .tb_thumb img {
  display: inline;
  max-width: 100%;
  max-height: 100%;
}
.tb_gallery.tb_size_1 .tb_thumb,
.tb_gallery.tb_size_1 .tb_thumb .tb_thumb_image,
.tb_gallery.tb_size_1 .tb_thumb .tb_thumb_image div
{
  width: 104px;
  height: 104px;
}
.tb_gallery.tb_size_2 .tb_thumb,
.tb_gallery.tb_size_2 .tb_thumb .tb_thumb_image,
.tb_gallery.tb_size_2 .tb_thumb .tb_thumb_image div
{
  width: 140px;
  height: 140px;
}
.tb_gallery .tb_thumb:hover .tb_actions {
  display: block;
}
.tb_gallery .ui-sortable-placeholder {
  visibility: visible !important;
  width: 160px;
  height: 160px;
  padding: 0;
  border: none;
  background: #eee url(../image/i_photo_64.png) no-repeat center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow:
    inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 50px 60px rgba(0, 0, 0, 0.08);
}
.tb_gallery.tb_size_1 .ui-sortable-placeholder {
  width: 124px;
  height: 124px;
}
.tb_gallery.tb_size_2 .ui-sortable-placeholder {
  width: 160px;
  height: 160px;
}
.tb_gallery .ui-sortable-helper {
  border-bottom-color: #bbb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.tb_gallery .ui-sortable-helper .tb_actions {
  display: none !important;
}

.s_multiple_actions {
  float: left;
  padding: 10px 10px 0 0;
}
.s_multiple_actions label {
  margin-right: 5px;
}

#header {
  z-index: 10;
  position: relative;
}
body {
	background: #fff;
}
#container {
  background: none;
}
#content {
  padding: 0;
  background: #f0f0f0 url(../image/texture_1.png) repeat top left;
}
#footer {
	height: auto;
	margin: 0;
	padding: 20px 0 20px 0;
	font-size: 11px;
	color: #999;
  background: #fff;
}
#footer a {
	text-decoration: none;
}
#tb_cp {
  position: relative;
}
#tb_cp_wrap {
}
#tb_cp_header {
  padding: 20px 30px;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
}
#tb_cp_header_wrap {
  position: relative;
  width: 944px;
}
#tb_store_select {
	float: right;
}
#tb_store_select label {
	vertical-align: middle;
}
#tb_cp_content {
  position: relative;
  padding: 30px;
  background: url(../image/highlight.png) no-repeat top left;
}
#tb_cp_content_wrap {
  position: relative;
  float: left;
  width: 940px;
  background: url(../image/black_10.png) repeat top left;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow:
    inset -30px -10px 60px rgba(0, 0, 0, 0.10),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:
    inset -30px -10px 60px rgba(0, 0, 0, 0.10),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow:
    inset -30px -10px 60px rgba(0, 0, 0, 0.10),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow:
    inset -30px -10px 60px rgba(0, 0, 0, 0.10),
    inset 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 1px 0 rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.08),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}


#tb_cp_navigation {
  overflow: hidden;
  float: left;
  width: 180px;
  padding-bottom: 5px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
#tb_cp_navigation ul,
#tb_cp_navigation ul li,
#tb_cp_navigation ul li.ui-tabs-selected
{
  position: relative !important;
  top: auto !important;
  left: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
}
#tb_cp_navigation a {
  width: 166px;
  padding: 12px 0 12px 14px !important;
  text-transform: uppercase;
  color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
#tb_cp_navigation ul li:first-child a {
  border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -webkit-border-radius: 4px 0 0 0;
}
#tb_cp_navigation a:hover {
  background: rgba(0, 0, 0, 0.06);
}
#tb_cp_navigation .ui-tabs-selected a {
  z-index: 2;
  position: relative;
  width: 167px;
  margin-left: -1px;
  padding: 12px 0 12px 15px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  background: rgba(255, 255, 255, 0.3) url(../image/selected_2.png) no-repeat center right;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 30px 30px rgba(255, 255, 255, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

#tb_cp_modules {
  z-index: 1;
  position: relative;
  float: left;
  width: 700px;
  min-height: 520px;
  padding: 30px 30px 100px 30px;
  background: #fff;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  box-shadow:
    -1px 0 0 rgba(0, 0, 0, 0.08),
    inset -1px 0 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -10px 60px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:
    -1px 0 0 rgba(0, 0, 0, 0.08),
    inset -1px 0 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -10px 60px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow:
    -1px 0 0 rgba(0, 0, 0, 0.08),
    inset -1px 0 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -10px 60px rgba(0, 0, 0, 0.05);
  -o-box-shadow:
    -1px 0 0 rgba(0, 0, 0, 0.08),
    inset -1px 0 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -10px 60px rgba(0, 0, 0, 0.05);
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}
#tb_cp_header h1 {
	float: left;
  line-height: 28px;
  font-size: 28px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  color: #333;
}
#tb_cp_modules h2,
#tb_cp_modules h2 *
{
  height: 22px;
  line-height: 20px;
  font-size: 28px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 500;
  color: #ff6100;
}
#tb_cp_modules h2 {
  /* background: url(../image/title_1.png) repeat top left; */
}
#tb_cp_modules .s_separator {
  width: 12px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 0;
  background: url(../image/separator.gif) no-repeat 50% 9px;
}
#tb_cp_modules h2 span {
  padding: 0 15px 0 0 !important;
  background: #fff;
}
#tb_cp_modules .s_submit {
  width: 730px;
  padding: 30px 10px 30px 20px;
}
#tb_cp_modules span.border_ccc {
  margin-left: -30px;
  margin-right: -30px;
}
#tb_cp_modules .ui-tabs-panel {
  padding: 0 !important;
}
#tb_cp_content #container,
#tb_cp_content #footer
{
  display: none !important;
} 
.tb_cp_help {
  position: fixed;
  z-index: 2;
  top: -1px;
  display: none;
  right: 30px;
  width: 240px;
  height: 100%;
  padding: 0 30px;
  background: #fffde6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  box-shadow:
    inset 0 1px 0 #fff,
    inset 1px 0 2px rgba(0, 0, 0, 0.08),
    2px 2px 3px rgba(0, 0, 0, 0.05)
  ;
}
.tb_cp_help_wrap {
  margin: 30px 0;
  visibility: hidden;
}
.tb_cp_help h2 {
  height: auto !important;
  margin-bottom: 25px !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  font-family: "PT Sans", sans-serif !important;
  color: #000 !important;
  background: none !important;
}
.tb_cp_help h2:first-child,
.tb_cp_help h3:first-child
{
  padding-right: 40px;
}
.tb_cp_help img {
  display: block;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.tb_cp_help a {
  color: #435d88;
}
.tb_cp_help a:hover {
  color: #ff6100
}
.close_help {
  z-index: 2;
  position: absolute;
  top: 29px;
  right: 29px;
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -1000em;
  background: url(../image/close_help.png) no-repeat 0 0;
}
.close_help:hover {
  background-position: 100% 0;
}
.open_help {
  position: absolute;
  top: -1px;
  left: 100%;
  margin-left: 30px;
  height: 31px;
  padding: 1px 0 0 42px;
  line-height: 14px;
  font-size: 11px;
  color: #999 !important;
  background: url(../image/open_help.png) no-repeat 0 0;
}
.open_help:hover {
  color: #333 !important;
  background-position: 0 100%;
}
.ui-tabs-hide .tb_cp_help,
.ui-tabs-hide .open_help
{
  display: none !important;
}
li.tb_step {
  position: relative;
  padding-left: 35px;
}
.tb_number {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 24px;
  font-family: "PT Sans", sans-serif !important;
  font-weight: 800;
  color: #c4bd6f;
  border-radius: 30px;
}

.paginatorInitialized {
  z-index: 1;
  position: relative;
}
.pg-page {
  position: absolute;
  top: 0;
}
.pg-pagination {
  position: absolute;
  bottom: -60px;
  overflow: hidden;
  width: 100%;
}
.pg-pagination .pg-index {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 30px;
  margin: 0;
  line-height: 30px;
  text-align: center;
}
.pg-pagination ul {
  z-index: 2;
  position: relative;
  margin: 0;
}
.pg-pagination li,
.pg-pagination li a
{
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  line-height: 30px;
  text-align: center;
}
.pg-pagination li {
  margin-left: 10px;
}
.pg-pagination li:first-child {
  margin-left: 0;
}
.pg-pagination .pg-prev,
.pg-pagination .pg-prev *,
.pg-pagination .pg-next,
.pg-pagination .pg-next *
{
  width: auto;
}
.pg-pagination .pg-next {
  float: right;
}
.pg-pagination .pp-prev-disabled,
.pg-pagination .pp-next-disabled
{
  display: none;
}

.s_table input[size="1"] {
  text-align: center;
}
#intro_type_images_tabs {
  display: block !important;
}
#intro_type_images input.url {
  width: 345px;
}
#payment_images_table img {
  width: 51px;
}

label.s_radio {
  margin-right: 15px;
  vertical-align: middle;
}
label.s_radio input {
  margin: 0;
  vertical-align: middle;
}
#footer_settings table.form tr td:first-child {
  width: 100px;
}




.s_table {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.s_table td {
  padding: 20px 10px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.s_table th,
.s_table td
{
  line-height: 20px !important;
}
.s_table tr td:first-child {
  padding-left: 20px;
}
.s_table tr td:last-child {
  padding-right: 20px;
}
.s_table thead td {
  padding: 10px;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: 700;
  color: #666;
  background: #e7e7e7 url(../image/thead.png) repeat-x top left;
  border-top: 1px solid #f9f9f9;
}
.s_table thead td.first,
.s_table thead tr:first-child td:first-child
{
  border-radius: 3px 0 0 0;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
}
.s_table thead td.last,
.s_table thead tr:first-child td:last-child
{
  border-radius: 0 3px 0 0 ;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
}
.s_table thead td a {
  display: inline-block !important;
  height: 20px !important;
  padding-left: 14px;
  line-height: 20px !important;
  color: #666;
  background: url(../image/bullet_sort.gif) no-repeat 0 5px;
}
.s_table thead td a.desc {
  background: url(../image/bullet_down.gif) no-repeat 0 5px;
}
.s_table thead td a.asc {
  background: url(../image/bullet_up.gif) no-repeat 0 5px;
}
.s_table tbody tr:first-child td {
  border-top: 1px solid #d0d0d0;
}
.s_table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
}
.s_table tbody tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
}
.s_table .s_selected td {
  background-color: #f1f8e6;
  border-top: 1px solid #dfeacd;
}
.s_table img {
  margin: 0 auto;
}
.s_table .filter td {
  background-color: #f6f6f6;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.04);
  -o-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.04);
}
.s_table tr.filter input[type=text] {
  padding: 2px 3px;
  font-size: 10px;
  background: #fff;
  border: 1px solid;
  border-color: #999 #eee #eee #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 0 #fff, inset 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0 #fff, inset 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 0 #fff, inset 0 2px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 1px 1px 0 #fff, inset 0 2px 2px rgba(0, 0, 0, 0.1);
}
.s_table tr.filter input[type=text]:focus,
.s_table tr.filter input[type=text]:hover
{
  border-color: #666 #ccc #ccc #666;
}
.s_table .selector {
  margin-bottom: -4px;
}
#sm_window td.s_dummy_row {
  padding-bottom: 8px !important;
}

.pagination {
  margin: 0 !important;
  background: none !important;
  border: none !important;
}
.pagination .links,
.pagination .results
{
  padding: 0 !important;
}
.pagination .links a,
.pagination .links b
{
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  padding: 0 !important;
  line-height: 24px;
  text-align: center;
  color: #666;
  border: none !important;
  background: none;
}
.pagination .links a {
  color: #ff6100;
  font-weight: bold;
}
.pagination .results {
  line-height: 24px;
  font-size: 10px;
  color: #999;
}



#tb_cp .htabs {
  display: block !important;
}
.htabs, .htabs a {
  font-family: "PT Sans", sans-serif;
  border-color: #ccc !important;
}
.htabs {
  height: 41px;
  padding-left: 0 !important;
}
.htabs a {
  height: 40px;
  margin-right: 5px;
  margin-bottom: 30px;
  padding: 0 15px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #fff;
  background: url(../image/tabs_40.png) repeat-x 0 0;
  border-top-color: #ddd;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.htabs a:hover {
  background-position: 0 -40px;
}
.htabs a.selected {
  padding: 0 15px 1px 15px;
  color: #ff4c00;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.htabs a.selected,
.htabs a.selected:hover
{
  background: #fff;
}
.vtabs {
  padding-top: 0;
  width: 110px;
}
.vtabs a {
  width: 80px;
}
.vtabs_page {
  margin-left: 130px;
}
.vtabs_page_holder {
  float: left;
  width: 100%;
}
.htabs a img.inline,
.vtabs a img.inline
{
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}

#footer_contacts_settings input[type=text] {
  width: 160px;
}

#launch_color_schemer_button {
	z-index: 10;
	position: relative;
	bottom: -30px;
	margin-bottom: -80px;
}

#background_settings_table div.left {
  margin-left: 20px;
}
#background_settings_table div.left.first {
  margin-left: 0;
}
#background_settings_table label {
  text-align: left;
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
}
#background_settings_table .selector {
  width: 140px !important;
}
#background_settings_table .selector select {
  width: 100% !important;
}

#bannerPositions select {
  width: 110px !important;
}
#bannerPositions .selector select {
  width: 100% !important;
}

/********************************/
/***    C U F O N    ************/
/********************************/
.cufon {
  margin-top: -2px;
}
#tb_cp_navigation .cufon {
  margin-top: -1px;
}
h2 .cufon {
  margin-top: -4px;
}
.tb_tabs_nav .cufon {
  margin-top: -3px;
}


/********************************/
/***    J Q U E R Y    U I    ***/
/********************************/
.tb_ui {
  height: 0;
}
.tb_ui .ui-dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.tb_ui .ui-dialog-titlebar {
  cursor: move;
  position: relative;
  height: 40px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-weight: 700;
  text-shadow: 0 1px 0 #eee;
  color: #333;
  background: url(../image/texture_1.png) repeat, url(../image/dialog_head.png) repeat-x top left #ccc;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.tb_ui .ui-dialog-content {
  padding: 20px 20px 81px 20px; 
  background: #fff;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}
.tb_ui .ui-dialog-titlebar-close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -1000em;
  background-image: url(../image/button_icon.png);
  background-repeat: no-repeat;
}
.tb_ui .ui-dialog-titlebar-close { background-position: 0 0; }
.tb_ui .ui-dialog-titlebar-close:hover { background-position: -120px 0; }
.tb_ui .ui-dialog-titlebar-close:active { background-position: -150px 0; }

.ui-multiselect-menu {
  min-width: 174px;
}




